#landingHeader {
    min-height: 30vh;
    background-image: url("https://i.ibb.co/PxLFLFw/wallpapersden-com-helsinki-finland-capital-3840x2160.jpg");
    background-size: cover;
    background-size: 120%;
    background-position: center;
}

#landingMain > section > article > h3 {
    color: black;
}

#landingMain > section:first-of-type {
    display: block;
    text-align: left;
    margin-left: 4vw;
    width: 96%;
    margin-top: 2vh;
    margin-block-end: 0;
}

#landingMain > section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    margin-block-start: 2vh;
    margin-block-end: 6vh;
}


/*iPads, tablets*/

@media (min-width: 480px) {

}

/*Small screens, laptops*/

@media (min-width: 768px) {
    #landingHeader {
        min-height: 75vh;
        background-image: url("https://i.ibb.co/PxLFLFw/wallpapersden-com-helsinki-finland-capital-3840x2160.jpg");
        background-size: cover;
        background-position: center;
    }

    #landingHeader > article {
        margin-top: 2vh;
        margin-left: 1.5vw;
        background-color: rgba(0, 0, 0, 0.4);
        border-radius: 0.8em;
        padding-inline: 0.5vw;
        width: fit-content;
    }

    #landingHeader > article > h3 {
        color: white;
        font-style: italic;
        font-weight: 700;
    }

    #landingMain {
        padding-inline: 2vw;
    }

    #landingMain > section > article > h2 {
        color: black;
        font-weight: 600;
    }

    #landingMain > section:first-of-type {
        display: block;
        text-align: left;
        width: 100%;
        margin-top: 3vh;
        margin-block-end: 0;
    }

    #landingMain > section {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-evenly;
        margin-block: 6vh;
    }

    #loginBtn {
        position: absolute;
        bottom: 0;
        right: 0;
        padding: 1em;
    }

    #landingContainer {
        position: relative;
    }
}

/*Desktops, large screens*/

@media (min-width: 1024px) {

}

/*Extra large screens, TV*/

@media (min-width: 1200px) {

}