#landingHeaderMobile {
    min-height: 30vh;
    background-image: url("https://i.ibb.co/PxLFLFw/wallpapersden-com-helsinki-finland-capital-3840x2160.jpg");
    background-size: cover;
    background-size: 120%;
    background-position: center;
}

#landingMainMobile > article > h3 {
    color: black;
    margin-top: 2vh;
    margin-left: 4vw;
}

#landingMainMobile > section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    margin-block-start: 2vh;
    margin-block-end: 6vh;
}


/*iPads, tablets*/

@media (min-width: 480px) {

}

/*Small screens, laptops*/

@media (min-width: 768px) {
    #landingHeaderDesktop {
        min-height: 75vh;
        background-image: url("https://i.ibb.co/PxLFLFw/wallpapersden-com-helsinki-finland-capital-3840x2160.jpg");
        background-size: cover;
        background-position: center;
    }

    #landingHeaderDesktop > article {
        margin-top: 2vh;
        margin-left: 1.5vw;
        background-color: rgba(0, 0, 0, 0.6);
        border-radius: 1em;
        padding-inline: 0.5vw;
        width: fit-content;
    }

    #landingHeaderDesktop > article > h3 {
        color: white;
        font-style: italic;
        font-weight: 700;
    }

    #landingMainDesktop {
        padding-inline: 2vw;
    }

    #landingMainDesktop > article > h2 {
        color: black;
        margin-top: 3vh;
        font-weight: 600;
    }
    #landingMainDesktop > section {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-evenly;
        margin-block: 6vh;

    }
}

/*Desktops, large screens*/

@media (min-width: 1024px) {

}

/*Extra large screens, TV*/

@media (min-width: 1200px) {

}