#newsContainer {
    border-radius: 1em;
    width: 90vw;
    min-height: 30vh;
    margin-block-end: 5vh;
    padding: 1em;
}

#newsContainer > div > div > h6 {
    font-size: 0.8em;
}

#newsContainer > div > article > p {
    color: black;
    font-size: 0.9em;
}

@media (min-width: 768px) {
    #newsContainer {
        width: 30vw;
    }
}