@media (min-width: 768px) {
    main > section {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-evenly;
        margin-block: 6vh;
    }
}