* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    flex-direction: column;
}

img {
    max-height: 30vh;
    min-width: 100%;
}


/*iPads, tablets*/

@media (min-width: 480px) {

}

/*Small screens, laptops*/

@media (min-width: 768px) {

}

/*Desktops, large screens*/

@media (min-width: 1024px) {
    img {
        min-width: 100%;
        min-height: 80vh;
    }
}

/*Extra large screens, TV*/

@media (min-width: 1200px) {

}